* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-image: url("./images/Clear.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* 최소 크기 지정:min-height */
}

h1 {
  color: white;
  text-shadow: 2px 2px gray;
  opacity: 80%;
}

input {
  opacity: 80%;
}

.todo-container {
  max-width: 100%;
  /*요소의 최대 너비를 지정한다: max-width */
  width: 400px;
}
#todo-input {
  background-color: lightyellow;
  border: none;
  display: block;
  font-size: 2rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  width: 100%;
}

#todo-list {
  /* background-color: lightyellow; */
  list-style-type: none;
  /* li태그 앞에 붙는 친구들 제거 */
  margin: 0px;
  padding: 0px;
}

#todo-list li {
  border-top: 1px;
  font-size: 1.5rem;
  user-select: none;
}

.complete {
  color: rgb(155, 155, 155);
  text-decoration: line-through;
}

li button {
  background-color: mintcream;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5ren;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}
/* li태그 밑에 버튼에 스타일을 설정한다:active 눌렀을 때 */
li button:active {
  border: 2px solid gray;
}

.delete-btn-wrapper {
  margin-top: 1rem;
}

.delete-btn-wrapper button {
  font-weight: bold;
  border: none;
  background-color: antiquewhite;
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
}

.delete-btn-wrapper button:active {
  box-shadow: none;
  margin-left: 3px;
  margin-top: 3px;
}

navigation {
  margin-top: 20px;
}

navigation a {
  color: black;
  font-weight: 700;
}

.hover {
  color: red;
}
